html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.box {
    display: flex;
    height: 100px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nav-list {
    display: flex;
    padding: 10px 0;

}

.nav-list li {
    padding: 5px 10px;
    list-style: none;
    width: 100px;
    justify-content: center;
    display: flex;
    transition: all 0.2s;
}

.nav-list li:hover {
    background-color:teal;
    border-radius: 5px;
    cursor: pointer;
}

.nav-list li a{
    color: white;
    text-decoration: none;
}

.edu,
.main-box {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: left;
    padding: 10px;
}

.main-box-left {
    width: 70%;
    text-align: left;
    margin: 0 30px;
    justify-content: right;
}

.greet {
    font-size: 50px;
    padding: 10px 0;
}

.main-box-left div {
    font-size: 35px;
}


.main-box-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.main-box-right img {
    width: 250px;
    justify-content: center;
    align-items: center;
}








.edu-left {
    width: 40%;

}

.skills, .projects{
    margin: 10px 5px;
    border-bottom: 1px solid white;
}

.element-data, .skills, .projects{
    margin: 10px 5px;
    font-size: 20px;
}

.element-data div {
    padding: 10px 0;
    font-size: 25px;
}

footer{
    height: 100px;
    background-color: teal;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0;
    align-items: center;
}

.footer-main{

}
.projects a{
    background-color: azure;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    color: blue;
}


.contact-data a{
    text-decoration: none;
    color: white;
}

.contact-box-h{
    height: 450px;
}

.author a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}